button {
	background-color: #4484CE;
	color: white;
	padding: 0em;
}

body {
	font-family: 'Yantramanav', sans-serif;
	font-weight:100;
	font-size: 87.5%;
	background-color: #D9D9D9;
	color: white;
	margin: 0%;
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: scroll;
	white-space: nowrap;
}

.header-middle {
	display:inline-block;
	margin-left: 32%;
}

.signin {
	margin: auto;
	width: 20em;
}

.form-signin > *{
	margin-bottom: 0.6em;
}

.container {
	margin-top: 15em;
}

.swim-lane {
	background-color: #F19F4D;
	margin: 0.8%;
}