<app-header></app-header>
<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title">
				Login
			</div>
			<form class="form-signin" (ngSubmit)="login()">
				<label for="inputUsername" class="sr-only">Username</label>
				<input type="text" name="inputUsername" id="inputUsername" class="form-control form-control-lg" placeholder="Username" [(ngModel)]="user.username"
				 required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="inputPassword" id="inputPassword" class="form-control form-control-lg" placeholder="Password"
				 [(ngModel)]="user.password" required>
				<button class="btn btn-block btn-lg" (click)=login()>Login</button>
			</form>
		</div>
	</div>
</div>