<div class="container">
	<div class="card">
		<div class="card-block">
			<div class="card-title">
				Login
			</div>
			<form class="form-signin" (ngSubmit)="registerUser()">
				<label for="inputUsername" class="sr-only">Username</label>
				<input type="text" name="inputUsername" id="inputUsername" class="form-control form-control-lg" placeholder="Username" [(ngModel)]="user.username"
				 required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="inputPassword" id="inputPassword" class="form-control form-control-lg" placeholder="Password"
                 [(ngModel)]="user.password" required>
                 <label for="inputFirstName" class="sr-only">First Name</label>
                <input type="text" name="inputFirstName" id="inputFirstName" class="form-control form-control-lg" 
                placeholder="First Name" [(ngModel)]="user.firstName" required autofocus>
                 <label for="inputLastName" class="sr-only">Last Name</label>
                <input type="text" name="inputLastName" id="inputLastName" class="form-control form-control-lg" 
                placeholder="Last Name" [(ngModel)]="user.lastName" required autofocus>
                <input type="text" name="inputEmail" id="inputEmail" class="form-control form-control-lg" 
                placeholder="email@email.com" [(ngModel)]="user.email" required autofocus>
				<button class="btn btn-block btn-lg" (click)=registerUser()>Login</button>
			</form>
		</div>
	</div>
</div>