<div class="headerStyle">
    <!--<div class="sidebyleft">
        PROJECT 2
    </div>-->
    <ul id="headerlist">
        <li>
            Project 2
        </li>
    <!--<div class="sidebyright">-->
        <li>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </li>
    </ul>
    </div>
<div><h1>{{header}}</h1></div>
