.sidebyleft{
	/*position: absolute;*/
	float:left;
/*	display: inline; */
}

.sidebyright{
	right: 0;
	position: absolute;
	display: inline;
}

.headerStyle {
	background-color: white;
	color: black;
	font-size: 2.4em;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 300;
	padding-top:1.9%;
	padding-left:7%;
	padding-right:1%;
	padding-bottom:1.9%;
	margin:auto;
	position: relative;
	background-color: white;
}

#headerList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
li { display: inline; }