.sidebyleft{
	/*position: absolute;*/
	float:left;
/*	display: inline; */
}

.sidebyright{
	right: 0;
	position: absolute;
	display: inline;
}

.headerStyle {
	background-color: white;
	color: black;
	font-size: 2.4em;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 300;
	margin:0%;
	width: 100vw;
	display: block;
	margin-top: 50px;
	margin-bottom: 20px;
}

#headerList {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
li { display: inline; }