.swimlane {
    border-radius: 10px;
    /*background-color: rgba(241, 159, 77, 0.3);*/
    min-height: 40em;
    padding: 1em;
    color: black;
}

.title {
    font-size: 20px;
    font-weight: 400;
}