<div class="swimlane" [ngStyle]="{'background-color':getBackgroundColor(index)}">
<span class="title">{{swimlane.swimlaneName}}</span>
<div [dragula]="'bag-one'" [dragulaOptions]="options" [dragulaModel]="swimlane.stories"
> 
    <app-story *ngFor="let story of swimlane.stories" [story]="story" [attr.data-id]="story.stId" (onDelete)="deleteStoryEvent($event)"></app-story>
    <app-create-story (createStoryEvent)="newStoryEvent($event)" [swimlane]="swimlane"></app-create-story>
    <button class="btn close" type="submit" aria-label="Close" (click)="deleteSwimlane()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
</div>