.swimlane {
    border-radius: 10px;
    width: 18em;
    min-height: 5em;
    padding: 1em;
    color: black;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.drag-container{
    min-height: 5em;
}

.title {
    font-size: 20px;
    font-weight: 400;
}