mat-card {
    border:0;
    padding: 0.5em;
    margin:0;
    background-color:white;
}
input {
    font-weight: 700;
    border:0;
    padding:0;
    margin:0;
    height: 38px;
}

input, textarea {
    background-color: #D9D9D9;
    color: white;
    fill:white;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }