<mat-card id="story"> 
    <p id="title">{{story.stId}} {{ story.storyName }} </p>
    <!-- <mat-card-subtitle> Story Id: {{ story.stId }} </mat-card-subtitle> -->
    <!-- <p> Story Difficulty: {{ story.difficulty }} </p>  -->
    <button class="btn btn-primary" (click)="deleteStory()"> Delete </button>
    <button type="button" id="editStoryButton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Edit Story
          </button>
          
</mat-card>

<!-- The Modal -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{story.difficulty}} {{story.storyName}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body" *ngIf='story'>
              <app-view-story  [story]="story" [tasks]="story.tasks"></app-view-story>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
      