nav {
	background-color: #4484CE;
	color: white;
	position: fixed;
	widtH: 100vw;
	z-index: 1;
}

#hamburgerbutton {
	color: green; 
	background-color: transparent; 
	border-color: green;
	border-bottom-width: 2px
}

nav a {
	color: white;
	font-weight: 400;
}

nav li {
	margin-right: 1.8em;
}

nav a:hover {
	color: #F19F4D;
}

.navbar {
	padding-left: 7%;
}