<button *ngIf="!createIsOpen" class="btn btn-link btn-block" 
  type="submit" (click)="toggleCreate()">
  New story
</button>

<div *ngIf="createIsOpen">
  <mat-card>
      <input class="form-control input-lg" type="text" 
          [(ngModel)]="story.storyName" placeholder="New Story" required>
      <button class="btn btn-sm" type="submit" (click)="addStory()">
          Submit
      </button>
      <button class="btn close" type="reset" aria-label="Close" (click)="toggleCreate()">
          <span aria-hidden="true">&times;</span>
      </button>
  </mat-card>
</div>
