<button *ngIf="!createIsOpen" class="btn btn-link btn-block" type="submit" (click)="toggleCreate()">
    New story
</button>

<div *ngIf="createIsOpen">
    <mat-card>
        <button class="btn close" type="reset" aria-label="Close" (click)="toggleCreate()">
            <span aria-hidden="true">&times;</span>
        </button>
        <input class="form-control input-lg" type="text" [(ngModel)]="story.storyName" placeholder="New story" required>
        <input class="form-control input-sm" type="number" [(ngModel)]="story.difficulty" placeholder="1-10" required>
        <button class="btn btn-link btn-sm" type="submit" (click)="addStory()">
            Submit
        </button>

    </mat-card>
</div>