<button *ngIf="!createIsOpen" class="btn btn-link btn-block" 
  type="submit" (click)="toggleCreate()">
  New Story
</button>

<div *ngIf="createIsOpen">
  <mat-card>
      <input class="form-control input-lg" type="text" 
          [(ngModel)]="story.storyName" placeholder="New Story" required>
      <button class="btn" type="submit" (click)="addStory()">
          Submit
      </button>
      <button class="btn" type="reset" (click)="toggleCreate()">
          Close
      </button>
  </mat-card>
</div>
